In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import re

In [62]:
df=pd.read_csv('tabula-usda-annual-report-animal-usage-in-research-2013.csv')
df_animals_not_used=df.iloc[:52]
df_animals_not_pain_no_drugs=df.iloc[54:106]
df_animals_with_pain_with_drugs=df.iloc[108:160]
df_animals_with_pain_no_drugs=df.iloc[162:214]
df_total=df.iloc[216:268]

In [102]:
df_total

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
0,AK,91,0,0,0,0,0,0,0,0,0,91
1,AL,14,54,139,0,0,96,303,646,163,30,"1,445"
2,AR,3,0,53,14,0,51,0,0,90,0,211
3,AZ,0,0,7,0,0,0,0,23,22,27,79
4,CA,"1,685",174,145,"1,163",296,"4,007","1,846",85,"2,339",36,"11,776"
5,CO,671,31,20,105,177,0,0,17,35,130,"1,186"
6,CT,86,2,24,1,1,25,0,0,8,0,147
7,DC,111,24,0,0,0,433,0,0,0,0,568
8,DE,0,0,0,0,0,0,233,0,"4,036",32,"4,301"
9,FL,891,0,4,0,86,"4,774",1,2,8,8,"5,774"
10,GA,"1,378",4,0,1,0,"1,601",0,96,15,0,"3,095"
11,HI,0,0,0,0,0,0,0,0,0,0,0
12,IA,274,9,13,88,"1,906",0,23,"2,912",33,0,"5,258"
13,ID,358,3,0,0,0,0,1,0,0,0,362
14,IL,606,51,134,199,0,124,43,15,159,106,"1,437"
15,IN,126,27,152,0,0,117,0,5,6,0,433
16,KS,3,6,136,33,1,0,12,1,44,0,236
17,KY,348,17,0,0,0,0,286,215,24,83,973
18,LA,102,71,10,0,0,"9,885",129,0,5,3,"10,205"
19,MA,"2,019",0,71,969,"2,073","1,570",693,122,841,0,"8,358"
20,MD,"5,580",0,0,249,936,"4,784",15,7,111,0,"11,682"
21,ME,0,0,0,0,0,0,131,0,80,0,211
22,MI,180,28,135,"8,445",0,792,8,0,8,0,"9,596"
23,MN,16,0,50,841,45,17,23,167,315,13,"1,487"
24,MO,91,155,256,156,0,12,14,404,17,0,"1,105"
25,MS,15,0,16,0,0,21,0,6,0,0,58
26,MT,315,0,0,0,488,0,0,0,0,0,803
27,NC,149,54,17,354,0,0,0,34,64,1,673
28,ND,0,0,0,0,0,0,0,0,0,171,171
29,NE,7,0,0,0,69,0,0,0,2,0,78
30,NH,0,0,0,0,0,0,0,0,0,0,0
31,NJ,1,10,166,164,843,606,0,0,409,0,"2,199"
32,NM,182,34,21,2,16,196,0,0,0,0,451
33,NV,0,0,0,5,0,0,0,0,0,0,5
34,NY,693,23,43,31,58,143,23,13,45,0,"1,072"
35,OH,633,252,401,794,8,30,21,68,45,7,"2,259"
36,OK,28,0,101,0,0,567,7,0,19,26,748
37,OR,33,0,0,0,0,"2,111",0,0,0,0,"2,144"
38,PA,"1,659",15,40,101,650,35,238,32,"1,516",209,"4,495"
39,PR,0,0,0,0,0,"2,093",0,0,0,0,"2,093"
40,RI,35,0,0,4,58,0,0,4,115,0,216
41,SC,"4,341",0,0,1,51,0,0,0,0,0,"4,393"
42,SD,0,0,0,0,0,0,87,3,5,5,100
43,TN,536,20,53,0,257,54,0,0,0,0,920
44,TX,"11,116",44,127,148,74,"2,586",166,156,"4,368",387,"19,172"
45,UT,0,0,41,0,119,5,24,3,0,15,207
46,VA,161,2,7,22,35,13,0,455,32,0,727
47,VT,0,0,0,0,0,0,0,0,0,0,0
48,WA,465,0,54,77,53,"4,810",91,12,374,6,"5,942"
49,WI,"1,067",39,"3,644",66,9,"2,076",1,151,309,42,"7,404"
50,WV,129,0,0,0,0,0,0,0,0,0,129
51,WY,23,0,0,0,0,0,0,0,0,27,50

In [64]:
df_animals_not_used

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total,Unnamed: 12
54,AK,157,0,0,0,0,0,0,0,0,0,157,NaN
55,AL,"1,694",19,784,71,17,148,23,441,11,344,"3,552",NaN
56,AR,7,79,557,10,60,100,12,"1,163",0,2,"1,990",NaN
57,AZ,"6,311",297,"1,382",183,20,1,20,178,5,250,"8,647",NaN
58,CA,"17,123","1,162","2,690","8,942","1,289",424,385,"21,664",260,"11,607","65,546",NaN
59,CO,805,117,444,"1,025",492,0,65,248,2,81,"3,279",NaN
60,CT,588,0,159,92,134,229,0,163,0,0,"1,365",NaN
61,DC,92,4,0,60,359,49,0,0,0,11,575,NaN
62,DE,345,0,0,18,0,0,0,"9,091",53,713,"10,220",NaN
63,FL,"2,524",133,676,6,52,420,39,43,3,62,"3,958",NaN
64,GA,"3,840",548,"1,489",340,"6,143",754,2,"1,311",4,374,"14,805",NaN
65,HI,6,31,54,0,0,0,0,0,0,0,91,NaN
66,IA,411,226,224,230,"8,365",6,651,45,248,140,"10,546",NaN
67,ID,204,2,1,12,0,0,0,41,15,34,309,NaN
68,IL,"2,457",781,"1,681","1,767",1,274,490,"1,636",331,348,"9,766",NaN
69,IN,"2,192",254,608,3,464,98,274,171,26,67,"4,157",NaN
70,KS,"1,297",786,"1,682",160,2,91,46,77,59,150,"4,350",NaN
71,KY,125,33,84,0,2,0,1,11,0,39,295,NaN
72,LA,0,23,63,0,2,"1,295",0,74,2,79,"1,538",NaN
73,MA,"15,647",4,"1,236","14,775","3,494","5,438","3,424","9,636",136,215,"54,005",NaN
74,MD,"3,105",22,583,"2,465","1,750","4,990",124,"1,172",128,60,"14,399",NaN
75,ME,461,0,2,0,0,0,0,123,5,443,"1,034",NaN
76,MI,"2,451",275,"3,511","6,817",612,"2,502","1,143","4,305",140,270,"22,026",NaN
77,MN,"1,188","1,731","1,877","26,282",66,41,305,"3,436",420,"1,074","36,420",NaN
78,MO,"1,537","1,456","1,399","7,517",299,34,600,946,9,76,"13,873",NaN
79,MS,12,8,0,155,0,15,0,66,0,9,265,NaN
80,MT,4,0,0,0,173,0,0,0,0,35,212,NaN
81,NC,"1,489",415,"1,118","8,157",2,76,639,"2,521",85,"4,977","19,479",NaN
82,ND,252,62,24,5,5,0,0,4,136,0,488,NaN
83,NE,948,24,28,4,335,45,1,6,10,0,"1,401",NaN
84,NH,0,0,0,0,63,0,0,6,0,0,69,NaN
85,NJ,"1,086",438,"3,393","9,268","20,178","2,464",287,"3,691",0,0,"40,805",NaN
86,NM,115,31,114,63,31,67,3,5,0,0,429,NaN
87,NV,"1,937",16,48,8,0,0,6,11,1,139,"2,166",NaN
88,NY,"2,009",802,"1,618","4,433","8,212","1,287",36,513,119,430,"19,459",NaN
89,OH,182,985,"3,479","26,780",613,"1,410",182,"8,461",6,0,"42,098",NaN
90,OK,798,63,478,528,7,0,22,12,17,221,"2,146",NaN
91,OR,"2,403",64,135,34,0,"1,396",8,2,73,35,"4,150",NaN
92,PA,"3,267","1,016","1,871","1,089","1,294",495,519,"9,245",375,"1,106","20,277",NaN
93,PR,0,0,0,0,0,"4,076",0,0,0,0,"4,076",NaN
94,RI,55,37,75,2,26,6,3,33,1,13,251,NaN
95,SC,"2,286",62,86,402,7,19,0,101,0,50,"3,013",NaN
96,SD,267,12,8,6,22,0,0,5,1,74,395,NaN
97,TN,"2,177",224,271,0,30,0,17,45,0,13,"2,777",NaN
98,TX,"7,213",393,"1,019","2,862",697,"1,754",128,"5,303",72,"1,315","20,756",NaN
99,UT,609,361,483,"1,038",492,0,8,597,32,238,"3,858",NaN
100,VA,"1,610",13,88,95,196,0,182,146,92,58,"2,480",NaN
101,VT,209,0,0,108,0,0,0,4,685,2,"1,008",NaN
102,WA,"3,311",347,658,"3,020",7,"1,711",16,723,25,209,"10,027",NaN
103,WI,"2,282",174,"5,824","2,197","1,389","4,859",235,"11,783",46,366,"29,155",NaN
104,WV,0,23,25,4,6,0,0,6,0,0,64,NaN
105,WY,95,0,0,4,3,0,4,7,109,144,366,NaN

In [65]:
df_animals_not_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total,Unnamed: 12
108,AK,229,0,0,0,0,0,0,0,0,0,229,NaN
109,AL,272,127,490,71,0,47,457,448,33,83,"2,028",NaN
110,AR,11,23,71,152,0,11,544,253,0,112,"1,177",NaN
111,AZ,104,183,259,39,27,44,424,120,137,12,"1,349",NaN
112,CA,"4,551",843,"1,654","3,317","2,480","3,083","5,011","10,965","1,200",990,"34,094",NaN
113,CO,492,244,232,"1,050",383,0,835,355,432,242,"4,265",NaN
114,CT,280,0,130,30,20,79,436,81,3,0,"1,059",NaN
115,DC,258,0,35,26,158,72,447,91,34,0,"1,121",NaN
116,DE,0,0,0,20,0,0,0,"1,192",0,12,"1,224",NaN
117,FL,"1,074",370,361,186,167,138,"2,196",285,240,40,"5,057",NaN
118,GA,"2,074",242,248,"1,075","4,029","2,140",988,527,27,58,"11,408",NaN
119,HI,0,11,33,0,0,0,104,0,0,0,148,NaN
120,IA,127,473,871,465,691,13,741,"3,050",96,62,"6,589",NaN
121,ID,180,61,86,0,0,0,2,7,9,46,391,NaN
122,IL,"1,083",316,"1,526",921,"2,356",443,836,"1,118",52,318,"8,969",NaN
123,IN,284,97,343,72,209,18,748,667,132,19,"2,589",NaN
124,KS,178,68,404,833,64,51,276,50,0,118,"2,042",NaN
125,KY,328,160,296,22,87,79,245,167,23,40,"1,447",NaN
126,LA,61,127,482,6,38,"1,646",45,338,6,187,"2,936",NaN
127,MA,"2,467",63,475,"6,368","1,527","1,948","2,572","5,772",279,78,"21,549",NaN
128,MD,"3,109",76,379,"5,675","1,784","3,471","1,409","2,094",141,74,"18,212",NaN
129,ME,6,246,81,0,0,0,15,8,0,5,361,NaN
130,MI,"1,830",161,823,841,298,608,758,"2,206",330,16,"7,871",NaN
131,MN,144,"1,470","2,194",608,325,215,"3,270","4,056",656,288,"13,226",NaN
132,MO,494,548,976,"2,979","1,982",111,"1,377","2,598",98,19,"11,182",NaN
133,MS,156,11,81,142,17,36,356,297,4,49,"1,149",NaN
134,MT,0,0,0,0,0,7,0,6,5,0,18,NaN
135,NC,"1,201",697,"1,045",340,811,"1,334","1,268",496,148,93,"7,433",NaN
136,ND,0,149,187,0,0,0,28,0,192,0,556,NaN
137,NE,555,52,60,4,604,55,228,149,7,61,"1,775",NaN
138,NH,827,0,8,0,584,6,40,9,3,0,"1,477",NaN
139,NJ,548,86,"1,484","3,439","5,130","1,116",997,"4,537",11,0,"17,348",NaN
140,NM,19,0,228,32,0,256,20,66,0,0,621,NaN
141,NV,298,158,430,6,96,0,131,0,0,164,"1,283",NaN
142,NY,"1,595",611,"1,685",936,"2,234",650,"1,373","2,304",200,170,"11,758",NaN
143,OH,"2,245",817,"1,877","1,356",481,458,"2,750","2,499",192,245,"12,920",NaN
144,OK,653,96,636,100,6,117,7,114,82,400,"2,211",NaN
145,OR,146,397,58,9,6,"1,938",340,263,174,9,"3,340",NaN
146,PA,"1,011",684,"1,438","1,292",153,"1,051","1,808","6,989",323,151,"14,900",NaN
147,PR,0,0,0,0,0,324,27,10,0,0,361,NaN
148,RI,163,0,11,2,193,32,71,407,61,0,940,NaN
149,SC,4,141,223,0,0,227,348,61,7,0,"1,011",NaN
150,SD,192,0,0,0,11,5,2,3,24,46,283,NaN
151,TN,670,116,343,163,436,255,"1,406",393,0,91,"3,873",NaN
152,TX,"2,034",124,486,"1,911","1,925","1,252","3,167","6,157",583,"2,317","19,956",NaN
153,UT,0,111,344,49,122,10,229,649,355,80,"1,949",NaN
154,VA,263,66,168,395,34,79,"3,182",275,36,85,"4,583",NaN
155,VT,0,8,33,0,0,0,60,0,925,0,"1,026",NaN
156,WA,804,114,497,158,231,793,"1,176",358,6,249,"4,386",NaN
157,WI,781,190,"1,372",684,"2,922","1,833",775,"2,482",100,67,"11,206",NaN
158,WV,0,36,22,0,0,0,2,73,136,0,269,NaN
159,WY,5,25,56,0,0,0,2,0,17,3,108,NaN

In [66]:
df_animals_with_pain_with_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total,Unnamed: 12
162,AK,0,0,0,0,0,0,0,0,0,0,0,NaN
163,AL,25,1,0,78,0,20,0,54,0,0,178,NaN
164,AR,0,0,0,0,0,0,0,0,0,0,0,NaN
165,AZ,17,0,0,0,0,0,0,24,0,0,41,NaN
166,CA,"1,443",0,6,201,651,72,0,739,0,0,"3,112",NaN
167,CO,83,1,5,323,419,0,0,0,27,0,858,NaN
168,CT,1,0,2,0,856,0,0,12,0,0,871,NaN
169,DC,162,0,0,498,0,0,0,0,0,0,660,NaN
170,DE,0,0,0,0,0,0,0,0,0,0,0,NaN
171,FL,37,0,5,14,0,10,0,0,0,0,66,NaN
172,GA,422,1,21,98,"2,281",15,2,"2,276",0,0,"5,116",NaN
173,HI,0,0,0,0,0,0,0,0,0,0,0,NaN
174,IA,0,0,2,32,"8,095",0,0,0,0,0,"8,129",NaN
175,ID,0,0,0,0,0,0,0,0,77,0,77,NaN
176,IL,132,4,0,36,0,0,119,85,0,0,376,NaN
177,IN,24,0,0,0,80,0,0,0,0,0,104,NaN
178,KS,0,0,3,40,0,20,0,1,0,0,64,NaN
179,KY,65,0,0,0,0,0,0,0,0,0,65,NaN
180,LA,0,0,0,0,0,6,0,86,0,0,92,NaN
181,MA,0,0,0,99,332,9,97,88,0,0,625,NaN
182,MD,171,0,0,"5,656","1,063",492,95,272,1,0,"7,750",NaN
183,ME,0,0,0,0,0,0,0,0,0,0,0,NaN
184,MI,42,0,1,"8,752",0,82,12,7,142,0,"9,038",NaN
185,MN,10,0,1,406,6,0,7,69,0,0,499,NaN
186,MO,0,14,132,0,"23,446",0,0,0,0,0,"23,592",NaN
187,MS,0,0,0,0,0,0,0,32,0,0,32,NaN
188,MT,0,0,0,0,0,0,0,0,0,0,0,NaN
189,NC,18,0,0,490,0,0,0,0,0,0,508,NaN
190,ND,0,0,0,0,0,0,0,0,0,0,0,NaN
191,NE,0,0,0,0,0,0,0,21,0,0,21,NaN
192,NH,0,0,0,0,0,0,0,0,0,0,0,NaN
193,NJ,64,2,160,"1,650","4,827",49,18,11,0,0,"6,781",NaN
194,NM,133,0,12,209,0,227,47,0,0,0,628,NaN
195,NV,0,0,0,0,0,0,0,0,0,0,0,NaN
196,NY,131,46,172,"1,118","1,876",57,0,98,0,0,"3,498",NaN
197,OH,18,0,0,"3,246",0,176,86,559,24,0,"4,109",NaN
198,OK,108,0,0,0,0,0,62,400,0,61,631,NaN
199,OR,66,0,0,0,0,0,0,0,0,0,66,NaN
200,PA,378,1,0,131,75,65,"1,579",382,0,0,"2,611",NaN
201,PR,0,0,0,0,0,22,0,0,0,0,22,NaN
202,RI,0,0,0,0,0,0,0,0,0,0,0,NaN
203,SC,10,0,0,0,132,0,0,0,0,0,142,NaN
204,SD,10,0,0,0,0,0,56,36,0,0,102,NaN
205,TN,458,0,0,2,0,0,29,0,0,0,489,NaN
206,TX,152,0,0,745,765,160,91,27,0,25,"1,965",NaN
207,UT,24,0,0,184,"1,854",0,0,0,0,0,"2,062",NaN
208,VA,0,0,0,0,60,0,0,0,3,0,63,NaN
209,VT,5,0,0,26,0,0,0,0,0,0,31,NaN
210,WA,6,0,0,36,0,0,0,0,0,0,42,NaN
211,WI,159,0,0,0,0,0,0,0,0,0,159,NaN
212,WV,0,0,0,0,0,0,0,50,0,0,50,NaN
213,WY,0,0,0,0,0,0,0,0,0,0,0,NaN

In [101]:
df_animals_with_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
215,AK,189,0,0,0,0,0,10,0,0,0,199
216,AL,642,261,"1,285",246,0,346,892,469,955,54,"5,150"
217,AR,41,147,721,24,53,154,66,691,"1,053",0,"2,950"
218,AZ,"3,709",570,"1,638",90,184,42,316,402,207,174,"7,332"
219,CA,"11,785","2,496","6,199","8,697","2,527","3,703","7,729","6,610","25,151","1,153","76,050"
220,CO,"1,735",507,875,"2,851","1,497",1,448,759,"1,175",303,"10,151"
221,CT,"1,058",1,264,155,815,338,0,173,69,1,"2,874"
222,DC,"12,209",9,36,474,447,151,0,301,292,0,"13,919"
223,DE,382,86,97,17,0,0,473,0,"6,722",19,"7,796"
224,FL,"2,817",337,809,478,199,"1,241",490,"1,092",284,141,"7,888"
225,GA,"3,263",718,"2,096","1,121","4,750","2,408",68,840,"4,748",89,"20,101"
226,HI,5,87,188,0,42,0,0,20,8,35,385
227,IA,589,324,711,472,"7,610",8,414,"1,220","1,161",443,"12,952"
228,ID,204,73,104,16,0,0,96,2,42,0,537
229,IL,"4,005",812,"3,304","2,507","1,910",877,626,"1,525","2,298",504,"18,368"
230,IN,"4,810",345,894,388,"5,021",334,190,289,"1,148",392,"13,811"
231,KS,189,716,"1,592",723,84,162,592,"1,191",455,21,"5,725"
232,KY,642,187,341,32,68,115,306,213,201,41,"2,146"
233,LA,64,182,604,42,11,"1,793",265,122,196,6,"3,285"
234,MA,"4,328",62,"1,778","20,079","5,249","7,270",169,"5,772","10,071",453,"55,231"
235,MD,"13,501",58,"1,002","9,587","3,522","8,221",349,"1,724","3,993",202,"42,159"
236,ME,359,408,55,0,0,0,398,20,105,2,"1,347"
237,MI,"1,850",474,"5,632","19,846",154,"3,699",689,"2,100","7,330",558,"42,332"
238,MN,399,"2,288","2,538","26,924",604,114,588,"2,314","5,417",521,"41,707"
239,MO,"2,360","1,585","2,366","9,354","15,881",96,105,"2,110","3,810",77,"37,744"
240,MS,242,17,54,22,7,92,80,304,145,4,967
241,MT,36,2,0,0,110,14,60,0,1,0,223
242,NC,"5,026","1,127","2,026","8,796",876,"1,127","5,109","1,796","4,124",193,"30,200"
243,ND,0,305,301,7,0,0,312,43,10,89,"1,067"
244,NE,"1,061",65,150,23,551,94,51,288,112,0,"2,395"
245,NH,131,0,2,0,152,2,47,2,18,3,357
246,NJ,"3,083",504,"5,672","42,197","34,512","3,745",154,830,"11,438",7,"102,142"
247,NM,687,10,275,172,83,461,0,74,5,0,"1,767"
248,NV,79,53,427,24,0,0,222,92,6,2,905
249,NY,"9,428",538,"1,586","2,251","2,259","1,767",528,"1,189","2,247",322,"22,115"
250,OH,"3,140","1,313","4,495","1,064",549,"1,198",256,"1,929","3,564",131,"17,639"
251,OK,526,101,407,"2,342",8,145,613,20,476,91,"4,729"
252,OR,"1,203",34,51,309,14,"2,383",230,123,310,270,"4,927"
253,PA,"2,528","1,180","1,880","1,796",954,"1,291",857,720,"13,277",792,"25,275"
254,PR,0,0,0,0,0,"2,755",0,21,18,0,"2,794"
255,RI,88,50,51,0,101,38,64,159,334,0,885
256,SC,"2,562",169,227,159,2,427,80,222,87,20,"3,955"
257,SD,904,11,8,29,3,0,68,110,11,70,"1,214"
258,TN,"1,310",296,643,168,403,186,184,"1,255",156,3,"4,604"
259,TX,"11,174",456,"1,207","2,727","3,074","4,389","2,519","2,981","7,891",396,"36,814"
260,UT,169,274,634,71,"1,577",40,315,123,"1,011",243,"4,457"
261,VA,"5,975",66,217,476,151,76,146,"2,542",415,151,"10,215"
262,VT,48,0,0,27,0,0,0,0,0,"1,943","2,018"
263,WA,"6,064",158,721,"3,663",541,"3,345",314,627,796,302,"16,531"
264,WI,"2,040",404,"4,833","2,410","1,854","7,302",257,"1,063","14,972",285,"35,420"
265,WV,"1,264",43,62,4,6,0,20,2,29,92,"1,522"
266,WY,163,23,43,4,5,0,21,3,4,80,346

In [88]:
df=pd.read_csv('tabula-usda-annual-report-animal-usage-in-research-2014.csv')
df_total=df.iloc[:52]
df_animals_not_used=df.iloc[54:106]
df_animals_not_pain_no_drugs=df.iloc[108:159]
df_animals_with_pain_with_drugs=df.iloc[161:213]
df_animals_with_pain_no_drugs=df.iloc[215:267]

In [103]:
df

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
0,AK,91,0,0,0,0,0,0,0,0,0,91
1,AL,14,54,139,0,0,96,303,646,163,30,"1,445"
2,AR,3,0,53,14,0,51,0,0,90,0,211
3,AZ,0,0,7,0,0,0,0,23,22,27,79
4,CA,"1,685",174,145,"1,163",296,"4,007","1,846",85,"2,339",36,"11,776"
5,CO,671,31,20,105,177,0,0,17,35,130,"1,186"
6,CT,86,2,24,1,1,25,0,0,8,0,147
7,DC,111,24,0,0,0,433,0,0,0,0,568
8,DE,0,0,0,0,0,0,233,0,"4,036",32,"4,301"
9,FL,891,0,4,0,86,"4,774",1,2,8,8,"5,774"
10,GA,"1,378",4,0,1,0,"1,601",0,96,15,0,"3,095"
11,HI,0,0,0,0,0,0,0,0,0,0,0
12,IA,274,9,13,88,"1,906",0,23,"2,912",33,0,"5,258"
13,ID,358,3,0,0,0,0,1,0,0,0,362
14,IL,606,51,134,199,0,124,43,15,159,106,"1,437"
15,IN,126,27,152,0,0,117,0,5,6,0,433
16,KS,3,6,136,33,1,0,12,1,44,0,236
17,KY,348,17,0,0,0,0,286,215,24,83,973
18,LA,102,71,10,0,0,"9,885",129,0,5,3,"10,205"
19,MA,"2,019",0,71,969,"2,073","1,570",693,122,841,0,"8,358"
20,MD,"5,580",0,0,249,936,"4,784",15,7,111,0,"11,682"
21,ME,0,0,0,0,0,0,131,0,80,0,211
22,MI,180,28,135,"8,445",0,792,8,0,8,0,"9,596"
23,MN,16,0,50,841,45,17,23,167,315,13,"1,487"
24,MO,91,155,256,156,0,12,14,404,17,0,"1,105"
25,MS,15,0,16,0,0,21,0,6,0,0,58
26,MT,315,0,0,0,488,0,0,0,0,0,803
27,NC,149,54,17,354,0,0,0,34,64,1,673
28,ND,0,0,0,0,0,0,0,0,0,171,171
29,NE,7,0,0,0,69,0,0,0,2,0,78
...,...,...,...,...,...,...,...,...,...,...,...,...
238,MN,399,"2,288","2,538","26,924",604,114,588,"2,314","5,417",521,"41,707"
239,MO,"2,360","1,585","2,366","9,354","15,881",96,105,"2,110","3,810",77,"37,744"
240,MS,242,17,54,22,7,92,80,304,145,4,967
241,MT,36,2,0,0,110,14,60,0,1,0,223
242,NC,"5,026","1,127","2,026","8,796",876,"1,127","5,109","1,796","4,124",193,"30,200"
243,ND,0,305,301,7,0,0,312,43,10,89,"1,067"
244,NE,"1,061",65,150,23,551,94,51,288,112,0,"2,395"
245,NH,131,0,2,0,152,2,47,2,18,3,357
246,NJ,"3,083",504,"5,672","42,197","34,512","3,745",154,830,"11,438",7,"102,142"
247,NM,687,10,275,172,83,461,0,74,5,0,"1,767"
248,NV,79,53,427,24,0,0,222,92,6,2,905
249,NY,"9,428",538,"1,586","2,251","2,259","1,767",528,"1,189","2,247",322,"22,115"
250,OH,"3,140","1,313","4,495","1,064",549,"1,198",256,"1,929","3,564",131,"17,639"
251,OK,526,101,407,"2,342",8,145,613,20,476,91,"4,729"
252,OR,"1,203",34,51,309,14,"2,383",230,123,310,270,"4,927"
253,PA,"2,528","1,180","1,880","1,796",954,"1,291",857,720,"13,277",792,"25,275"
254,PR,0,0,0,0,0,"2,755",0,21,18,0,"2,794"
255,RI,88,50,51,0,101,38,64,159,334,0,885
256,SC,"2,562",169,227,159,2,427,80,222,87,20,"3,955"
257,SD,904,11,8,29,3,0,68,110,11,70,"1,214"
258,TN,"1,310",296,643,168,403,186,184,"1,255",156,3,"4,604"
259,TX,"11,174",456,"1,207","2,727","3,074","4,389","2,519","2,981","7,891",396,"36,814"
260,UT,169,274,634,71,"1,577",40,315,123,"1,011",243,"4,457"
261,VA,"5,975",66,217,476,151,76,146,"2,542",415,151,"10,215"
262,VT,48,0,0,27,0,0,0,0,0,"1,943","2,018"
263,WA,"6,064",158,721,"3,663",541,"3,345",314,627,796,302,"16,531"
264,WI,"2,040",404,"4,833","2,410","1,854","7,302",257,"1,063","14,972",285,"35,420"
265,WV,"1,264",43,62,4,6,0,20,2,29,92,"1,522"
266,WY,163,23,43,4,5,0,21,3,4,80,346
267,REPORT\rTOTAL,"130,066","19,932","61,101","172,864","98,420","61,950","27,786","46,477","138,348","10,678","767,622"

In [90]:
df_animals_not_used

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total
54,AK,60,0,0,0,0,0,0,0,0,0,60
55,AL,"2,054",56,812,29,0,193,54,521,216,427,"4,362"
56,AR,2,173,614,17,47,82,0,992,0,2,"1,929"
57,AZ,"3,093",652,"1,997",87,27,3,45,177,36,209,"6,326"
58,CA,"17,614","1,207","1,998","2,317","1,180",538,512,"14,308",371,"8,096","48,141"
59,CO,891,208,517,"1,444",538,1,33,295,2,33,"3,962"
60,CT,812,0,308,89,159,209,0,41,0,0,"1,618"
61,DC,160,30,2,215,334,128,0,0,0,0,869
62,DE,"1,118",71,77,10,0,0,0,"5,854",31,438,"7,599"
63,FL,"2,462",67,396,11,67,"1,358",0,20,0,150,"4,531"
64,GA,"1,507",313,"1,362",315,"5,964",147,186,"1,135",0,48,"10,977"
65,HI,5,26,77,0,0,0,47,0,0,0,155
66,IA,438,179,308,701,"9,558",6,592,34,273,209,"12,298"
67,ID,69,0,8,0,0,0,2,17,15,56,167
68,IL,"2,483",826,"1,740","1,702",0,259,829,993,211,408,"9,451"
69,IN,"4,773",258,798,52,12,314,42,283,109,79,"6,720"
70,KS,"1,052",687,"1,200",85,45,127,42,148,16,164,"3,566"
71,KY,210,57,97,0,0,0,77,3,0,81,525
72,LA,0,27,82,2,0,"1,121",0,24,0,100,"1,356"
73,MA,"3,761",2,"1,354","16,462","4,019","4,695","1,203","6,740",47,619,"38,902"
74,MD,"3,258",4,199,"1,771","1,255","4,823",84,"1,381",65,10,"12,850"
75,ME,512,63,33,0,0,0,0,111,3,393,"1,115"
76,MI,"1,294",156,"2,672","6,436",268,"2,187",380,"4,069",176,431,"18,069"
77,MN,"1,243","1,669","1,858","26,194",201,12,226,"3,564",259,"1,157","36,383"
78,MO,"1,283","1,394","1,469","6,929",222,35,976,"1,022",8,166,"13,504"
79,MS,16,9,15,100,0,16,1,37,0,9,203
80,MT,51,0,0,0,262,0,0,1,0,0,314
81,NC,"3,374",483,824,"7,205",82,14,496,"1,772",71,303,"14,624"
82,ND,75,71,16,2,2,0,0,64,72,200,502
83,NE,"1,932",0,11,0,0,43,27,14,0,0,"2,027"
84,NH,40,0,5,0,126,0,0,0,0,95,266
85,NJ,"1,479",259,"3,310","6,682","27,742","2,002",188,"2,873",0,0,"44,535"
86,NM,132,127,507,93,1,78,40,27,0,19,"1,024"
87,NV,"1,886",28,49,0,0,0,4,15,5,215,"2,202"
88,NY,"3,736",250,909,"1,027",649,209,3,476,206,482,"7,947"
89,OH,718,"1,404","3,830","30,400",234,"1,872",149,"8,901",5,25,"47,538"
90,OK,"1,614",611,417,"1,629",12,0,152,28,3,408,"4,874"
91,OR,"3,681",27,23,0,2,140,4,0,87,294,"4,258"
92,PA,"3,197",908,"1,377",920,263,490,145,"7,910",215,664,"16,089"
93,PR,0,0,0,0,0,0,0,0,0,0,0
94,RI,74,28,45,0,36,7,7,283,0,52,532
95,SC,"1,820",54,62,204,6,22,0,85,0,27,"2,280"
96,SD,491,12,14,5,2,0,0,4,0,40,568
97,TN,"1,415",53,145,0,0,0,0,37,2,5,"1,657"
98,TX,"7,644",438,"1,259","1,658",752,"2,216",573,"4,804",140,"1,429","20,913"
99,UT,"1,485",346,503,3,236,0,84,366,65,83,"3,171"
100,VA,960,3,39,278,226,0,375,119,4,92,"2,096"
101,VT,536,0,0,123,0,0,0,4,81,87,831
102,WA,"17,398",70,272,"2,757",32,"2,275",15,"1,219",18,212,"24,268"
103,WI,"2,426",223,"3,817","2,023","1,239","5,196",297,"15,512",68,224,"31,025"
104,WV,0,37,24,5,6,0,0,4,0,0,76
105,WY,58,0,1,4,4,0,4,0,163,153,387

In [91]:
df_animals_not_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total
108,AK,101,0,0,0,0,0,0,0,0,0,101
109,AL,336,120,656,80,271,43,393,446,19,76,"2,440"
110,AR,11,11,43,78,0,45,963,93,0,129,"1,373"
111,AZ,624,77,159,15,45,38,350,158,165,29,"1,660"
112,CA,"6,520",318,"1,309","4,403","2,156","3,185","5,838","9,763",948,227,"34,667"
113,CO,426,222,277,"1,158",258,0,690,590,361,81,"4,063"
114,CT,669,0,141,101,21,78,265,70,0,0,"1,345"
115,DC,128,16,4,11,81,33,316,268,28,0,885
116,DE,0,11,8,45,0,0,0,"1,034",0,17,"1,115"
117,FL,"1,250",272,485,334,109,277,"1,459",163,159,43,"4,551"
118,GA,"1,256",147,219,567,"3,697","1,855",579,527,110,37,"8,994"
119,HI,0,38,36,0,0,0,0,0,0,0,74
120,IA,116,212,549,583,292,11,900,"1,876",121,102,"4,762"
121,ID,150,57,55,0,0,0,0,2,5,15,284
122,IL,405,336,"1,540",521,"1,952",556,824,"1,070",122,326,"7,652"
123,IN,333,53,319,188,54,158,405,376,378,21,"2,285"
124,KS,155,82,219,576,117,63,160,41,0,142,"1,555"
125,KY,324,102,214,56,86,83,163,189,7,48,"1,272"
126,LA,56,135,503,9,0,"1,375",57,279,6,195,"2,615"
127,MA,"1,746",68,308,"3,532",825,"1,912","1,925","4,457",256,51,"15,080"
128,MD,"3,514",5,296,"5,339","2,372","3,604","1,497","2,369",52,2,"19,050"
129,ME,0,125,37,0,0,0,11,0,0,3,176
130,MI,828,175,"2,022",731,181,"1,824","1,014","3,905",138,3,"10,821"
131,MN,285,"1,239","1,492",486,396,155,"1,991","2,532",281,258,"9,115"
132,MO,577,192,"1,196","3,448",200,87,"1,078","2,385",94,33,"9,290"
133,MS,378,12,52,0,0,75,358,171,4,71,"1,121"
134,MT,0,0,0,0,0,0,0,0,32,0,32
135,NC,527,642,"1,077",339,797,302,"1,297","1,459",40,"4,422","10,902"
136,ND,5,148,149,0,0,0,19,0,90,15,426
137,NE,68,60,83,18,487,44,152,145,6,70,"1,133"
138,NH,95,0,0,0,207,5,11,45,6,2,371
139,NJ,"1,262",225,"1,611","2,535","4,751","1,090","1,171","5,245",16,0,"17,906"
140,NM,49,13,80,15,65,238,81,4,0,0,545
141,NV,557,166,412,0,71,0,103,0,1,112,"1,422"
142,OH,"27,133",525,"1,406",738,480,413,"2,494","2,102",141,171,"35,603"
143,OK,344,47,145,113,0,99,8,87,56,100,999
144,OR,126,17,49,209,10,"2,175",198,321,161,13,"3,279"
145,PA,662,295,748,867,535,866,779,"7,014",515,261,"12,542"
146,PR,0,0,0,0,0,0,0,0,0,0,0
147,RI,652,8,5,0,204,30,140,382,0,0,"1,421"
148,SC,90,167,278,0,0,305,274,40,22,0,"1,176"
149,SD,136,0,0,0,30,3,1,13,73,28,284
150,TN,656,96,437,60,331,176,"1,024",33,0,85,"2,898"
151,TX,"2,497",97,317,232,"1,616",886,"2,714","4,365",309,"1,417","14,450"
152,UT,10,119,240,44,412,3,203,725,164,66,"1,986"
153,VA,82,86,149,318,6,69,"2,156",198,132,24,"3,220"
154,VT,0,5,10,0,0,0,30,4,"1,520",3,"1,572"
155,WA,"1,186",65,426,211,337,863,914,338,8,90,"4,438"
156,WI,"2,940",293,"1,077","1,121",793,"2,061",759,"2,487",216,110,"11,857"
157,WV,0,16,18,0,2,0,5,46,124,0,211
158,WY,42,28,49,0,0,0,2,2,0,2,125

In [92]:
df_animals_with_pain_with_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total
161,AK,0,0,0,0,0,0,0,0,0,0,0
162,AL,19,0,0,68,0,0,0,109,0,0,196
163,AR,0,0,0,0,0,0,0,0,0,0,0
164,AZ,0,0,0,0,0,0,0,0,0,0,0
165,CA,292,0,0,274,185,44,0,588,0,19,"1,402"
166,CO,144,0,10,306,216,0,1,0,28,0,705
167,CT,32,0,5,15,914,0,0,0,0,0,966
168,DC,31,0,0,489,0,0,0,0,0,0,520
169,DE,0,0,0,0,0,0,0,0,0,0,0
170,FL,24,0,0,92,0,7,6,36,0,0,165
171,GA,157,0,12,106,"2,714",2,59,"2,495",0,0,"5,545"
172,HI,0,0,0,0,0,0,0,0,0,0,0
173,IA,0,0,0,103,"7,443",0,0,0,0,0,"7,546"
174,ID,0,0,0,0,0,0,0,0,35,0,35
175,IL,238,2,4,24,24,0,227,90,0,0,609
176,IN,117,0,0,0,0,0,0,0,0,0,117
177,KS,0,0,4,0,0,6,1,2,0,0,13
178,KY,0,0,0,0,15,0,0,0,0,0,15
179,LA,0,0,0,2,0,1,0,30,0,0,33
180,MA,0,0,1,8,148,8,2,77,0,0,244
181,MD,417,0,0,"3,321",934,434,215,562,0,0,"5,883"
182,ME,0,0,0,0,0,0,0,0,0,0,0
183,MI,54,0,0,"7,905",40,16,0,62,120,0,"8,197"
184,MN,37,0,0,163,0,0,15,0,0,0,215
185,MO,22,30,119,222,"20,044",0,0,0,0,0,"20,437"
186,MS,0,0,0,0,0,0,0,0,0,0,0
187,MT,0,0,0,0,0,0,0,0,0,0,0
188,NC,0,0,1,612,0,0,0,0,0,0,613
189,ND,0,0,0,0,0,0,0,0,0,0,0
190,NE,0,0,0,0,0,0,0,0,0,0,0
191,NH,0,0,0,0,0,0,0,0,0,0,0
192,NJ,119,0,114,"2,632","5,646",14,8,43,0,0,"8,576"
193,NM,48,0,0,56,0,431,0,5,0,0,540
194,NV,0,0,0,0,0,0,0,0,0,0,0
195,NY,16,0,21,"1,054",3,11,0,10,0,0,"1,115"
196,OH,36,0,16,"2,100",41,270,41,118,0,0,"2,622"
197,OK,70,0,0,0,0,0,51,400,0,0,521
198,OR,235,0,0,0,0,0,0,0,0,0,235
199,PA,378,0,6,132,9,73,0,593,0,0,"1,191"
200,PR,0,0,0,0,0,0,0,0,0,0,0
201,RI,0,0,0,0,0,0,0,0,0,0,0
202,SC,250,0,0,0,53,0,0,0,0,0,303
203,SD,152,0,0,25,0,0,11,0,0,0,188
204,TN,481,0,0,0,0,0,29,94,0,0,604
205,TX,189,0,0,435,964,143,27,45,0,0,"1,803"
206,UT,0,0,0,48,802,0,0,0,0,0,850
207,VA,0,0,0,0,0,3,0,0,0,0,3
208,VT,9,0,0,20,0,0,0,0,0,0,29
209,WA,9,0,0,0,0,0,0,0,0,0,9
210,WI,220,0,0,2,0,0,0,0,0,0,222
211,WV,0,0,0,0,0,0,0,22,0,0,22
212,WY,4,0,0,0,18,0,0,0,0,0,22

In [93]:
df_animals_with_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,PIG,RABBITS,SHEEP,OTHER FARM ANIMALS,Total
215,AK,161,0,0,0,0,0,0,0,0,0,161
216,AL,"2,409",176,"1,468",177,271,236,447,"1,076",235,503,"6,998"
217,AR,13,184,657,95,47,127,963,"1,085",0,131,"3,302"
218,AZ,"3,717",729,"2,156",102,72,41,395,335,201,238,"7,986"
219,CA,"24,426","1,525","3,307","6,994","3,521","3,767","6,350","24,659","1,319","8,342","84,210"
220,CO,"1,461",430,804,"2,908","1,012",1,724,885,391,114,"8,730"
221,CT,"1,513",0,454,205,"1,094",287,265,111,0,0,"3,929"
222,DC,319,46,6,715,415,161,316,268,28,0,"2,274"
223,DE,"1,118",82,85,55,0,0,0,"6,888",31,455,"8,714"
224,FL,"3,736",339,881,437,176,"1,642","1,465",219,159,193,"9,247"
225,GA,"2,920",460,"1,593",988,"12,375","2,004",824,"4,157",110,85,"25,516"
226,HI,5,64,113,0,0,0,47,0,0,0,229
227,IA,554,391,857,"1,387","17,293",17,"1,492","1,910",394,311,"24,606"
228,ID,219,57,63,0,0,0,2,19,55,71,486
229,IL,"3,126","1,164","3,284","2,247","1,976",815,"1,880","2,153",333,734,"17,712"
230,IN,"5,223",311,"1,117",240,66,472,447,659,487,100,"9,122"
231,KS,"1,207",769,"1,423",661,162,196,203,191,16,306,"5,134"
232,KY,534,159,311,56,101,83,240,192,7,129,"1,812"
233,LA,56,162,585,13,0,"2,497",57,333,6,295,"4,004"
234,MA,"5,507",70,"1,663","20,002","4,992","6,615","3,130","11,274",303,670,"54,226"
235,MD,"7,189",9,495,"10,431","4,561","8,861","1,796","4,312",117,12,"37,783"
236,ME,512,188,70,0,0,0,11,111,3,396,"1,291"
237,MI,"2,176",331,"4,694","15,072",489,"4,027","1,394","8,036",434,434,"37,087"
238,MN,"1,565","2,908","3,350","26,843",597,167,"2,232","6,096",540,"1,415","45,713"
239,MO,"1,882","1,616","2,784","10,599","20,466",122,"2,054","3,407",102,199,"43,231"
240,MS,394,21,67,100,0,91,359,208,4,80,"1,324"
241,MT,51,0,0,0,262,0,0,1,32,0,346
242,NC,"3,901","1,125","1,902","8,156",879,316,"1,793","3,231",111,"4,725","26,139"
243,ND,80,219,165,2,2,0,19,64,162,215,928
244,NE,"2,000",60,94,18,487,87,179,159,6,70,"3,160"
245,NH,135,0,5,0,333,5,11,45,6,97,637
246,NJ,"2,860",484,"5,035","11,849","38,139","3,106","1,367","8,161",16,0,"71,017"
247,NM,229,140,587,164,66,747,121,36,0,19,"2,109"
248,NV,"2,443",194,461,0,71,0,107,15,6,327,"3,624"
249,NY,"5,628",592,"1,618","2,328","2,312",589,"1,037","1,343",409,562,"16,418"
250,OH,"27,887","1,929","5,252","33,238",755,"2,555","2,684","11,121",146,196,"85,763"
251,OK,"2,028",658,562,"1,742",12,99,211,515,59,508,"6,394"
252,OR,"4,042",44,72,209,12,"2,315",202,321,248,307,"7,772"
253,PA,"4,237","1,203","2,131","1,919",807,"1,429",924,"15,517",730,925,"29,822"
254,PR,0,0,0,0,0,0,0,0,0,0,0
255,RI,726,36,50,0,240,37,147,665,0,52,"1,953"
256,SC,"2,160",221,340,204,59,327,274,125,22,27,"3,759"
257,SD,779,12,14,30,32,3,12,17,73,68,"1,040"
258,TN,"2,552",149,582,60,331,176,"1,053",164,2,90,"5,159"
259,TX,"10,330",535,"1,576","2,325","3,332","3,245","3,314","9,214",449,"2,846","37,166"
260,UT,"1,495",465,743,95,"1,450",3,287,"1,091",229,149,"6,007"
261,VA,"1,042",89,188,596,232,72,"2,531",317,136,116,"5,319"
262,VT,545,5,10,143,0,0,30,8,"1,601",90,"2,432"
263,WA,"18,593",135,698,"2,968",369,"3,138",929,"1,557",26,302,"28,715"
264,WI,"5,586",516,"4,894","3,146","2,032","7,257","1,056","17,999",284,334,"43,104"
265,WV,0,53,42,5,8,0,5,72,124,0,309
266,WY,104,28,50,4,22,0,6,2,163,155,534

In [94]:
df=pd.read_csv('tabula-usda-annual-report-animal-usage-in-research-2015.csv')
df_total=df.iloc[:52]
df_animals_not_used=df.iloc[54:106]
df_animals_not_pain_no_drugs=df.iloc[108:159]
df_animals_with_pain_with_drugs=df.iloc[161:213]
df_animals_with_pain_no_drugs=df.iloc[215:267]

In [95]:
df_total

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
0,AK,91,0,0,0,0,0,0,0,0,0,91
1,AL,14,54,139,0,0,96,303,646,163,30,"1,445"
2,AR,3,0,53,14,0,51,0,0,90,0,211
3,AZ,0,0,7,0,0,0,0,23,22,27,79
4,CA,"1,685",174,145,"1,163",296,"4,007","1,846",85,"2,339",36,"11,776"
5,CO,671,31,20,105,177,0,0,17,35,130,"1,186"
6,CT,86,2,24,1,1,25,0,0,8,0,147
7,DC,111,24,0,0,0,433,0,0,0,0,568
8,DE,0,0,0,0,0,0,233,0,"4,036",32,"4,301"
9,FL,891,0,4,0,86,"4,774",1,2,8,8,"5,774"
10,GA,"1,378",4,0,1,0,"1,601",0,96,15,0,"3,095"
11,HI,0,0,0,0,0,0,0,0,0,0,0
12,IA,274,9,13,88,"1,906",0,23,"2,912",33,0,"5,258"
13,ID,358,3,0,0,0,0,1,0,0,0,362
14,IL,606,51,134,199,0,124,43,15,159,106,"1,437"
15,IN,126,27,152,0,0,117,0,5,6,0,433
16,KS,3,6,136,33,1,0,12,1,44,0,236
17,KY,348,17,0,0,0,0,286,215,24,83,973
18,LA,102,71,10,0,0,"9,885",129,0,5,3,"10,205"
19,MA,"2,019",0,71,969,"2,073","1,570",693,122,841,0,"8,358"
20,MD,"5,580",0,0,249,936,"4,784",15,7,111,0,"11,682"
21,ME,0,0,0,0,0,0,131,0,80,0,211
22,MI,180,28,135,"8,445",0,792,8,0,8,0,"9,596"
23,MN,16,0,50,841,45,17,23,167,315,13,"1,487"
24,MO,91,155,256,156,0,12,14,404,17,0,"1,105"
25,MS,15,0,16,0,0,21,0,6,0,0,58
26,MT,315,0,0,0,488,0,0,0,0,0,803
27,NC,149,54,17,354,0,0,0,34,64,1,673
28,ND,0,0,0,0,0,0,0,0,0,171,171
29,NE,7,0,0,0,69,0,0,0,2,0,78
30,NH,0,0,0,0,0,0,0,0,0,0,0
31,NJ,1,10,166,164,843,606,0,0,409,0,"2,199"
32,NM,182,34,21,2,16,196,0,0,0,0,451
33,NV,0,0,0,5,0,0,0,0,0,0,5
34,NY,693,23,43,31,58,143,23,13,45,0,"1,072"
35,OH,633,252,401,794,8,30,21,68,45,7,"2,259"
36,OK,28,0,101,0,0,567,7,0,19,26,748
37,OR,33,0,0,0,0,"2,111",0,0,0,0,"2,144"
38,PA,"1,659",15,40,101,650,35,238,32,"1,516",209,"4,495"
39,PR,0,0,0,0,0,"2,093",0,0,0,0,"2,093"
40,RI,35,0,0,4,58,0,0,4,115,0,216
41,SC,"4,341",0,0,1,51,0,0,0,0,0,"4,393"
42,SD,0,0,0,0,0,0,87,3,5,5,100
43,TN,536,20,53,0,257,54,0,0,0,0,920
44,TX,"11,116",44,127,148,74,"2,586",166,156,"4,368",387,"19,172"
45,UT,0,0,41,0,119,5,24,3,0,15,207
46,VA,161,2,7,22,35,13,0,455,32,0,727
47,VT,0,0,0,0,0,0,0,0,0,0,0
48,WA,465,0,54,77,53,"4,810",91,12,374,6,"5,942"
49,WI,"1,067",39,"3,644",66,9,"2,076",1,151,309,42,"7,404"
50,WV,129,0,0,0,0,0,0,0,0,0,129
51,WY,23,0,0,0,0,0,0,0,0,27,50

In [96]:
df_animals_with_pain_with_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
161,AK,0,0,0,0,0,0,0,0,0,0,0
162,AL,27,0,0,12,0,0,2,9,224,0,274
163,AR,0,0,0,0,0,0,0,0,0,0,0
164,AZ,1,0,0,0,0,0,0,0,0,0,1
165,CA,"1,174",0,0,272,277,18,"1,101",3,667,0,"3,512"
166,CO,248,0,0,352,353,0,5,0,0,28,986
167,CT,15,0,25,57,744,35,0,0,0,0,876
168,DC,0,0,0,378,0,0,0,0,0,0,378
169,DE,0,0,0,0,0,0,0,0,0,0,0
170,FL,83,0,6,204,0,0,22,33,0,0,348
171,GA,95,5,7,47,"1,900",4,0,78,"3,245",0,"5,381"
172,HI,0,0,0,0,42,0,0,0,0,0,42
173,IA,0,0,0,82,"5,005",0,0,0,0,14,"5,101"
174,ID,0,0,0,0,0,0,0,0,0,0,0
175,IL,214,7,0,0,9,0,0,299,158,0,687
176,IN,25,0,0,38,"1,894",0,0,0,0,0,"1,957"
177,KS,0,2,0,0,0,0,0,0,0,0,2
178,KY,23,0,0,0,0,0,0,0,0,0,23
179,LA,0,0,0,34,0,0,0,0,40,3,77
180,MA,0,0,0,"2,607",173,16,4,21,199,0,"3,020"
181,MD,99,0,0,"1,937",693,601,74,198,291,0,"3,893"
182,ME,0,0,0,0,0,0,0,0,0,0,0
183,MI,3,8,0,"10,443",0,12,0,7,10,66,"10,549"
184,MN,11,0,0,78,0,0,0,22,5,0,116
185,MO,30,36,95,254,"14,017",0,0,0,4,0,"14,436"
186,MS,1,0,0,0,0,0,0,0,0,0,1
187,MT,0,0,0,0,0,0,0,0,0,0,0
188,NC,32,0,0,495,0,10,0,0,0,0,537
189,ND,0,0,0,0,0,0,0,0,0,0,0
190,NE,0,0,0,0,0,0,0,0,0,0,0
191,NH,0,0,0,0,0,0,0,0,0,0,0
192,NJ,0,0,180,"3,250","5,413",15,104,0,729,0,"9,691"
193,NM,224,0,0,149,0,113,0,14,0,0,500
194,NV,0,0,0,0,0,0,0,0,0,0,0
195,NY,345,0,49,759,63,8,3,11,26,3,"1,267"
196,OH,60,0,0,9,0,0,0,12,0,0,81
197,OK,0,0,0,0,0,1,0,0,373,0,374
198,OR,0,0,0,0,0,0,0,0,18,0,18
199,PA,145,0,0,115,0,32,0,0,432,0,724
200,PR,0,0,0,0,0,0,0,0,0,0,0
201,RI,0,0,0,0,0,0,0,0,0,0,0
202,SC,0,0,0,0,0,0,0,0,51,0,51
203,SD,243,0,0,25,0,0,0,100,0,0,368
204,TN,315,0,0,57,0,0,0,18,0,0,390
205,TX,282,0,0,704,805,151,0,14,40,5,"2,001"
206,UT,0,0,0,60,"1,169",0,0,0,0,0,"1,229"
207,VA,0,0,0,0,0,0,0,0,0,0,0
208,VT,0,0,0,0,0,0,0,0,0,0,0
209,WA,15,0,0,0,0,0,18,22,0,0,55
210,WI,86,0,0,0,0,0,0,0,0,0,86
211,WV,0,0,0,0,0,0,0,0,0,0,0
212,WY,0,0,0,0,0,0,0,0,0,0,0

In [98]:
df_animals_with_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
215,AK,189,0,0,0,0,0,10,0,0,0,199
216,AL,642,261,"1,285",246,0,346,892,469,955,54,"5,150"
217,AR,41,147,721,24,53,154,66,691,"1,053",0,"2,950"
218,AZ,"3,709",570,"1,638",90,184,42,316,402,207,174,"7,332"
219,CA,"11,785","2,496","6,199","8,697","2,527","3,703","7,729","6,610","25,151","1,153","76,050"
220,CO,"1,735",507,875,"2,851","1,497",1,448,759,"1,175",303,"10,151"
221,CT,"1,058",1,264,155,815,338,0,173,69,1,"2,874"
222,DC,"12,209",9,36,474,447,151,0,301,292,0,"13,919"
223,DE,382,86,97,17,0,0,473,0,"6,722",19,"7,796"
224,FL,"2,817",337,809,478,199,"1,241",490,"1,092",284,141,"7,888"
225,GA,"3,263",718,"2,096","1,121","4,750","2,408",68,840,"4,748",89,"20,101"
226,HI,5,87,188,0,42,0,0,20,8,35,385
227,IA,589,324,711,472,"7,610",8,414,"1,220","1,161",443,"12,952"
228,ID,204,73,104,16,0,0,96,2,42,0,537
229,IL,"4,005",812,"3,304","2,507","1,910",877,626,"1,525","2,298",504,"18,368"
230,IN,"4,810",345,894,388,"5,021",334,190,289,"1,148",392,"13,811"
231,KS,189,716,"1,592",723,84,162,592,"1,191",455,21,"5,725"
232,KY,642,187,341,32,68,115,306,213,201,41,"2,146"
233,LA,64,182,604,42,11,"1,793",265,122,196,6,"3,285"
234,MA,"4,328",62,"1,778","20,079","5,249","7,270",169,"5,772","10,071",453,"55,231"
235,MD,"13,501",58,"1,002","9,587","3,522","8,221",349,"1,724","3,993",202,"42,159"
236,ME,359,408,55,0,0,0,398,20,105,2,"1,347"
237,MI,"1,850",474,"5,632","19,846",154,"3,699",689,"2,100","7,330",558,"42,332"
238,MN,399,"2,288","2,538","26,924",604,114,588,"2,314","5,417",521,"41,707"
239,MO,"2,360","1,585","2,366","9,354","15,881",96,105,"2,110","3,810",77,"37,744"
240,MS,242,17,54,22,7,92,80,304,145,4,967
241,MT,36,2,0,0,110,14,60,0,1,0,223
242,NC,"5,026","1,127","2,026","8,796",876,"1,127","5,109","1,796","4,124",193,"30,200"
243,ND,0,305,301,7,0,0,312,43,10,89,"1,067"
244,NE,"1,061",65,150,23,551,94,51,288,112,0,"2,395"
245,NH,131,0,2,0,152,2,47,2,18,3,357
246,NJ,"3,083",504,"5,672","42,197","34,512","3,745",154,830,"11,438",7,"102,142"
247,NM,687,10,275,172,83,461,0,74,5,0,"1,767"
248,NV,79,53,427,24,0,0,222,92,6,2,905
249,NY,"9,428",538,"1,586","2,251","2,259","1,767",528,"1,189","2,247",322,"22,115"
250,OH,"3,140","1,313","4,495","1,064",549,"1,198",256,"1,929","3,564",131,"17,639"
251,OK,526,101,407,"2,342",8,145,613,20,476,91,"4,729"
252,OR,"1,203",34,51,309,14,"2,383",230,123,310,270,"4,927"
253,PA,"2,528","1,180","1,880","1,796",954,"1,291",857,720,"13,277",792,"25,275"
254,PR,0,0,0,0,0,"2,755",0,21,18,0,"2,794"
255,RI,88,50,51,0,101,38,64,159,334,0,885
256,SC,"2,562",169,227,159,2,427,80,222,87,20,"3,955"
257,SD,904,11,8,29,3,0,68,110,11,70,"1,214"
258,TN,"1,310",296,643,168,403,186,184,"1,255",156,3,"4,604"
259,TX,"11,174",456,"1,207","2,727","3,074","4,389","2,519","2,981","7,891",396,"36,814"
260,UT,169,274,634,71,"1,577",40,315,123,"1,011",243,"4,457"
261,VA,"5,975",66,217,476,151,76,146,"2,542",415,151,"10,215"
262,VT,48,0,0,27,0,0,0,0,0,"1,943","2,018"
263,WA,"6,064",158,721,"3,663",541,"3,345",314,627,796,302,"16,531"
264,WI,"2,040",404,"4,833","2,410","1,854","7,302",257,"1,063","14,972",285,"35,420"
265,WV,"1,264",43,62,4,6,0,20,2,29,92,"1,522"
266,WY,163,23,43,4,5,0,21,3,4,80,346

In [99]:
df_animals_not_used

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
54,AK,87,0,0,0,0,0,10,0,0,0,97
55,AL,434,153,684,74,0,203,661,61,214,35,"2,519"
56,AR,2,136,654,24,53,100,4,8,800,0,"1,781"
57,AZ,"3,573",499,"1,507",86,24,3,273,9,108,44,"6,126"
58,CA,"5,543","2,013","4,812","5,667",644,"1,238","5,941",247,"15,546",178,"41,829"
59,CO,"1,078",395,729,"2,181",887,1,201,159,640,5,"6,276"
60,CT,440,0,150,27,71,234,0,0,49,0,971
61,DC,"9,982",4,0,85,438,122,0,0,0,0,"10,631"
62,DE,382,70,89,3,0,0,467,0,"5,993",18,"7,022"
63,FL,"1,946",79,295,60,9,"1,019",394,2,35,0,"3,839"
64,GA,"2,012",413,"1,725",406,"1,910",367,55,297,"1,039",0,"8,224"
65,HI,5,27,82,0,0,0,0,0,0,35,149
66,IA,476,139,245,151,"2,497",5,203,384,291,397,"4,788"
67,ID,40,48,79,16,0,0,64,2,42,0,291
68,IL,"2,573",534,"1,616","2,143",8,444,497,630,721,365,"9,531"
69,IN,"3,309",275,620,13,"3,096",222,86,35,313,124,"8,093"
70,KS,19,649,"1,441",220,63,118,529,578,322,21,"3,960"
71,KY,147,27,149,2,30,0,226,1,5,5,592
72,LA,0,32,85,0,0,702,115,0,13,3,950
73,MA,"2,943",6,"1,292","12,819","4,160","4,887",134,"3,583","5,113",115,"35,052"
74,MD,"10,144",35,688,"3,100","1,668","3,506",248,184,"1,893",20,"21,486"
75,ME,359,91,23,0,0,0,398,0,105,2,978
76,MI,"1,323",230,"3,371","8,538",29,"2,193",666,"1,087","4,763",271,"22,471"
77,MN,344,"1,598","1,526","26,345",82,10,300,211,"3,951",139,"34,506"
78,MO,"1,536","1,212","1,505","3,050",415,38,74,"1,124",862,10,"9,826"
79,MS,9,3,19,4,0,0,29,1,0,0,65
80,MT,36,2,0,0,110,0,32,0,1,0,181
81,NC,"3,169",333,879,"8,047",36,79,225,366,"2,032",72,"15,238"
82,ND,0,248,251,7,0,0,299,24,10,87,926
83,NE,940,0,79,0,255,55,0,1,5,0,"1,335"
84,NH,86,0,0,0,152,0,45,0,0,0,283
85,NJ,"2,291",139,"3,679","35,860","25,468","2,450",45,144,"4,218",0,"74,294"
86,NM,272,10,232,21,0,41,0,10,3,0,589
87,NV,19,6,58,22,0,0,134,0,4,2,245
88,NY,"6,697",248,931,935,985,989,427,1,445,6,"11,664"
89,OH,550,947,"3,465",46,14,914,58,110,"2,708",5,"8,817"
90,OK,244,82,258,"2,248",8,0,494,16,34,12,"3,396"
91,OR,"1,040",22,23,0,0,11,143,10,10,26,"1,285"
92,PA,"2,224",748,"1,374",964,657,559,746,22,"8,559",553,"16,406"
93,PR,0,0,0,0,0,"2,637",0,0,0,0,"2,637"
94,RI,22,48,46,0,8,9,64,0,114,0,311
95,SC,"2,335",21,40,159,2,70,80,0,5,0,"2,712"
96,SD,316,11,8,4,3,0,48,0,6,0,396
97,TN,167,225,370,4,40,0,31,36,18,0,891
98,TX,"7,690",366,847,"1,860",781,"2,794",987,117,"3,396",120,"18,958"
99,UT,37,201,371,6,215,0,221,20,182,97,"1,350"
100,VA,"5,942",0,20,422,151,2,40,428,93,95,"7,193"
101,VT,48,0,0,27,0,0,0,0,0,190,265
102,WA,"1,520",93,311,"3,610",2,"2,579",143,29,522,131,"8,940"
103,WI,"1,327",162,"3,420","1,255",881,"4,361",182,254,"12,644",53,"24,539"
104,WV,842,6,23,4,6,0,0,0,11,0,892
105,WY,98,0,0,4,5,0,18,3,0,48,176

In [100]:
df_animals_not_pain_no_drugs

,Unnamed: 0,ALL OTHER COVERED SPECIE,CATS,DOGS,GUINEA PIGS,HAMSTERS,NONHUMAN PRIMATES,OTHER FARM ANIMALS,PIG,RABBITS,SHEEP,Total
108,AK,102,0,0,0,0,0,0,0,0,0,102
109,AL,181,108,601,160,0,143,229,399,517,19,"2,357"
110,AR,39,11,67,0,0,54,62,683,253,0,"1,169"
111,AZ,135,71,131,4,160,39,43,393,99,130,"1,205"
112,CA,"5,068",483,"1,387","2,758","1,606","2,447",687,"6,360","8,938",975,"30,709"
113,CO,409,112,146,318,257,0,242,600,535,270,"2,889"
114,CT,603,1,89,71,0,69,0,173,20,1,"1,027"
115,DC,"2,227",5,36,11,9,29,0,301,292,0,"2,910"
116,DE,0,16,8,14,0,0,6,0,729,1,774
117,FL,788,258,508,214,190,222,74,"1,057",249,141,"3,701"
118,GA,"1,156",300,364,668,940,"2,037",13,465,464,89,"6,496"
119,HI,0,60,106,0,0,0,0,20,8,0,194
120,IA,113,185,466,239,108,3,211,836,870,32,"3,063"
121,ID,164,25,25,0,0,0,32,0,0,0,246
122,IL,"1,218",271,"1,688",364,"1,893",433,129,596,"1,419",139,"8,150"
123,IN,"1,476",70,274,337,31,112,104,254,835,268,"3,761"
124,KS,170,65,151,503,21,44,63,613,133,0,"1,763"
125,KY,472,160,192,30,38,115,80,212,196,36,"1,531"
126,LA,64,150,519,8,11,"1,091",150,122,143,0,"2,258"
127,MA,"1,385",56,486,"4,653",916,"2,367",31,"2,168","4,759",338,"17,159"
128,MD,"3,258",23,314,"4,550","1,161","4,114",27,"1,342","1,809",182,"16,780"
129,ME,0,317,32,0,0,0,0,20,0,0,369
130,MI,524,236,"2,261",865,125,"1,494",23,"1,006","2,557",221,"9,312"
131,MN,44,690,"1,012",501,522,104,288,"2,081","1,461",382,"7,085"
132,MO,794,337,766,"6,050","1,449",58,31,986,"2,944",67,"13,482"
133,MS,232,14,35,18,7,92,51,303,145,4,901
134,MT,0,0,0,0,0,14,28,0,0,0,42
135,NC,"1,825",794,"1,147",254,840,"1,038","4,884","1,430","2,092",121,"14,425"
136,ND,0,57,50,0,0,0,13,19,0,2,141
137,NE,121,65,71,23,296,39,51,287,107,0,"1,060"
138,NH,45,0,2,0,0,2,2,2,18,3,74
139,NJ,792,365,"1,813","3,087","3,631","1,280",5,686,"6,491",7,"18,157"
140,NM,191,0,43,2,83,307,0,50,2,0,678
141,NV,60,47,369,2,0,0,88,92,2,0,660
142,OH,"2,530",366,"1,030","1,009",535,284,198,"1,807",856,126,"8,741"
143,OK,282,19,149,94,0,144,119,4,69,79,959
144,OR,163,12,28,309,14,"2,372",87,113,282,244,"3,624"
145,PA,159,432,506,717,297,700,111,698,"4,286",239,"8,145"
146,PR,0,0,0,0,0,118,0,21,18,0,157
147,RI,66,2,5,0,93,29,0,159,220,0,574
148,SC,227,148,187,0,0,357,0,222,31,20,"1,192"
149,SD,345,0,0,0,0,0,20,10,5,70,450
150,TN,828,71,273,107,363,186,153,"1,201",138,3,"3,323"
151,TX,"3,202",90,360,163,"1,488","1,444","1,532","2,850","4,455",271,"15,855"
152,UT,132,73,263,5,193,40,94,103,829,146,"1,878"
153,VA,33,66,197,54,0,74,106,"2,114",322,56,"3,022"
154,VT,0,0,0,0,0,0,0,0,0,"1,753","1,753"
155,WA,"4,529",65,410,53,539,766,153,576,274,171,"7,536"
156,WI,627,242,"1,413","1,155",973,"2,941",75,809,"2,328",232,"10,795"
157,WV,422,37,39,0,0,0,20,2,18,92,630
158,WY,65,23,43,0,0,0,3,0,4,32,170